@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

$light-font: 300;
$regular-font: 400;
$medium-font: 500;
$bold-font: 600;
$extra-bold-font: 700;


$black: #0a0a0a;
$white: #ffffff;
$green-primary: #ACFB06;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  outline: none;
  font-family: 'Poppins', sans-serif;
  scroll-padding-top: 10%;
}

html {
  overflow-x: hidden;
}

body {
  max-width: 100%;
//   height: 100vh;
  // background: yellow;
}
.highlights{
  background: $green-primary;
}
.main-container {
  max-width: 100%;
  // height: 150vh;
  position: relative;

  .review-section{
    max-width: 100%;
    // height: 35vh;
    // background: red;
    padding: 5% 0;
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1{
      // background: maroon;
      text-align: center;
      font-weight: $bold-font;
      font-size: clamp(2.5rem, 2.2692rem + 1.0256vw, 3.5rem);

      .highlights{
        // display: inline-block;
        color: $white;
        padding:0 10px 0 10px;
      }
    }

    .review-carousel{
      width: 50vw;
      min-height: 30vh;


      // background: green;
      // overflow: visible !important;
      .splide__track{
        height: 100%;
        
        .splide__list{
          
          .splide__slide{
            position: relative;

            height: 100%;
            background: #ececec;
            opacity: 0.5;
            border-radius: 20px;
            transition: opacity 300ms ease, background 700ms ease;
            padding: 2rem 1.5rem 1.5rem 1.5rem;

            .customer-name{
              font-weight: $bold-font;
              font-size: 1.3rem;
              margin-bottom: 5px;
            }
            .order-name{
              margin-top: 5px;
            }
            .review{
              margin-top: 5px;
            }

            &.is-active{
              background: $green-primary;
              opacity: 1;
            }
          }
        }
      }

      // .swiper-wrapper{
      //   transition-duration: 1s;
      //   transition-timing-function: cubic-bezier(0.86,0,0.07,1);
      //   // padding: 1.5rem;
      //   .swiper-slide{
      //     width: 80%;
      //     border-radius: 20px;
      //     background: #f6f6f6;
      //   }
      // }


    }
  }

  .rental-section{
    max-width: 100%;
    // height: 100vh;
    // background: maroon;
    padding-top: 3rem;

    .title-background{
      position: relative;
      width: 100%;
      padding: 5% 0;
      background: url("../img/rental-background.webp") no-repeat center;
      background-size: cover;
      // filter: brightness(80%);

      .black-overlay{
        position: absolute;
        inset: 0;
        background: rgba(0,0,0,.3);
      }

      h1{
        position: relative;
        z-index: 2;
        color: $white;

        // margin: auto;
        text-align: center;
        font-weight: $bold-font;
        font-size: clamp(2.5rem, 2.2692rem + 1.0256vw, 3.5rem);
      }
    }

    .grid-card{
      width: 100%;
      min-height: 50vh;
      padding: 3rem clamp(1rem, -3.3846rem + 19.4872vw, 20rem);

      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      // grid-template-rows: repeat(auto-fill, minmax(300px, 1fr));
      justify-content: center;
      gap: 2rem;

      .card{
        background: #f6f6f6;
        // border: 2px solid red;
        // box-shadow: 0px 10px 36px 5px rgba(0,0,0,0.1);
        box-shadow: 0px 10px 24px -4px rgba(0,0,0,0.1);
        padding: 2rem;
        border-radius: 15px;
        transition: 500ms cubic-bezier(0.23,1,0.32,1);

        &:hover{
          transform: translateY(-10px);
          box-shadow: 0px 10px 36px -4px rgba(0,0,0,0.1);
          // box-shadow: 0px 10px 29px 8px rgba(0,0,0,0.1);
        }

        .car-img{
          width: 100%;
          height: 25vh;
          // background: maroon;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 1rem;

          img{
            width: 100%;
            // height: 100%;
            object-fit: cover;
          }
        }

        .car-name{
          margin-top: 15px;
          font-weight: $bold-font;
          font-size: clamp(1.5rem, 1.3846rem + 0.5128vw, 2rem);
          // font-size: 2rem;
        }
        .car-price{
          font-weight: $medium-font;
          font-size: clamp(1rem, 0.9308rem + 0.3077vw, 1.3rem);
        }

        .more-info{
          width: max-content;
          position: relative;
          display: flex;
          align-items: center;
          margin-top: 5px;
          gap: 5px;

          &:hover{
            i{
              transform: rotate(-45deg);
            }
          }

          i{
            font-size: 1.5rem;
            // margin: auto;
            transition: 500ms cubic-bezier(0.23,1,0.32,1);
          }
        }
      }
    }

    
  }

  .benefits-section{
    padding-top: 3rem;
    max-width: 100%;
    // min-height: 100vh;
    // padding: 0 10rem;

    h1{
      // background: maroon;
      text-align: center;
      font-weight: $bold-font;
      font-size: clamp(2.5rem, 2.2692rem + 1.0256vw, 3.5rem);

      .highlights{
        // display: inline-block;
        color: $white;
        padding:0 10px 0 10px;
      }
    }

    .benefits{
      padding-top: 2rem;
      padding-bottom: 2rem;
      max-width: 100%;
      // height: 50vh;
      // background: maroon;
      display: flex;
      justify-content: center;
      align-items: center;

      .cards{
        width: 60%;
        // height: 40vh;
        // background: green;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem;

        .card{
          margin:  0 2rem;
          width:17rem;
          height: 40vh;
          // background: yellow;
          border-radius: 20px;
          border: 2px solid $black;
          
        }
      }
    }
  }

  .about-section{
    max-width: 100%;
    padding: 2rem 0 2rem 0;
    // height: 100vh;
    // background: maroon;

    display: flex;
    gap: 20px;

    .image-container{
      // width: 45rem;
      // height: 50vh;
      flex: 1;
      background: url(../img/about-img.webp) no-repeat center;
      background-size: cover;
    }

    .desc-container{
      // background: maroon;
      padding: 10% 2rem 10% 0;
      display: flex;
      align-items: center;
      .desc{
        font-weight: $medium-font;
        max-width: 50vw;
        font-size: clamp(1rem, 0.8846rem + 0.5128vw, 1.5rem);
        color: $black;

        h1{
          font-weight: $bold-font;
          margin-bottom: 1.5rem;
        }
      }
    }
  }

  .hero-section {
    position: relative;
    max-width: 100%;
    min-height: 100vh;
    background: url("../img/hero-img.webp") no-repeat center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

    .black-overlay{
        position: absolute;
        inset: 0;
        background: rgba(0,0,0,.3);
    }

    .hero-text{
      position: relative;
      z-index: 1;
      text-align: center;
      width: 50rem;
      // background: green;

      h1{
        font-weight: $bold-font;
        // font-size: 5rem;
        font-size: clamp(2.5rem, 1.9231rem + 2.5641vw, 5rem);
        line-height: 120%;
        margin-bottom: 15px;
        // background: red;

      }

      p{
        // font-size: 1.2rem;
        font-size: clamp(1rem, 0.9538rem + 0.2051vw, 1.2rem);
      }
      
    }

    .scroll-box{
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      bottom: 5%;
      left: 50%;
      transform: translateX(-50%);
      // font-size: 3rem;

      a{
        color: white;

        .arrow-svg{
          // display: block;
          // font-size: 32px;
          width: 32px;
          height: 32px;
          animation: fade 800ms linear infinite;

          svg{
            width: 40px;
            // background: red;
            margin: 0;
            padding: 0;
            display: block;
          }

          &:nth-child(1){
            animation-delay: 100ms;
          }
          &:nth-child(2){
            animation-delay: 200ms;
          }
        }
      }
    }
  }

  nav {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 10;
    // max-width: 100%;
    // height: 20vh;
    // background: #0a0a0a;
    padding: 2rem clamp(1rem, 0.5385rem + 2.0513vw, 3rem);
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background 200ms ease;

    &.active{
      background: #0a0a0a;
    }

    a {
      img {
        width: 150px;
      }
    }

    .menu {
      ul {
        display: flex;
        align-items: center;
        gap: 2rem;

        li {
          a {
            color: white;
            font-family: "Poppins", sans-serif;
            transition: color 200ms ease;

            &:hover{
              color: $green-primary;
            }
          }
        }
      }
    }
  }
}


@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
  
  
}



@import 'mediaQuery';