@media screen and (max-width: 400px) {
    .main-container {
        .hero-section {
            position: relative;
            max-width: 100%;
            min-height: 100vh;
            background: url("../img/hero-img.webp") no-repeat center;
            background-size: cover;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
        
            .hero-text{
              position: relative;
              z-index: 1;
              text-align: center;
              width: 100%;
              // background: green;
        
              h1{
                font-weight: $bold-font;
                // font-size: 5rem;
                font-size: clamp(2.5rem, 1.9231rem + 2.5641vw, 5rem);
                line-height: 120%;
                margin-bottom: 15px;
                // background: red;
        
              }
        
              p{
                // font-size: 1.2rem;
                font-size: clamp(1rem, 0.9538rem + 0.2051vw, 1.2rem);
              }
              
            }
        }
    }
}

@media screen and (max-width: 899px) {
  .main-container {
    .benefits-section{
      padding-top: 3rem;
      max-width: 100%;
      min-height: 100vh;
      font-size: clamp(1rem, 0.8846rem + 0.5128vw, 1.5rem);
      // padding: 0 10rem;
  
      h1{
        // background: maroon;
        text-align: center;
        font-weight: $bold-font;
  
        .highlights{
          // display: inline-block;
          color: $white;
          padding:0 10px 0 10px;
        }
      }
  
      .benefits{
        padding-top: 2rem;
        max-width: 100%;
        // height: 50vh;
        background: maroon;
        display: flex;
        justify-content: center;
        align-items: center;
  
        .cards{
          width: 100%;
          // height: 40vh;
          background: green;
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          gap: 2rem;
  
          .card{
            margin:  0 2rem;
            width:17rem;
            height: 40vh;
            // background: yellow;
            border-radius: 20px;
            border: 2px solid $black;
          }
        }
      }
    }
  }

}